@import "../node_modules/bootstrap/scss/bootstrap";

$font-normal-color-highlight: #767175;
$font-normal-color: #a09a9a;
$font-color-title: #423e3e;
$font-p: "lato", sans-serif;
$font-t: "Fira Sans", sans-serif;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  justify-content: flex-end;
}

.navbar-brand {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #767175;
}

.main-text-content {
  width: 460px;
  padding-left: 40px;
  padding-right: 20px;
}


.main-text-content-consumers {
  width: 550px;
  padding-left: 40px;
  padding-right: 20px;
}

.main-text-content-brands {
  width: 550px;
  padding-left: 20px;
  padding-right: 40px;
}

.main-media-content {
  width: 400px;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 60px;
}

sup {
  font-size: 0.8em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.card-content {
  width: 300px;
  padding-left: 30px;
  padding-top: 25px;
}

.logo-wrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #767175;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-title {
  font-family: $font-p;
  font-weight: bold;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0px;
  width: 400px;
}

.footer-text {
  font-family: $font-p;
  color: #a09a9a;
  font-size: 12px;
  padding-left: 20px;
  margin: 0px;
  width: 400px;
  text-align: left;
}

.carousel-wrapper {
  width: 100%;
  background-color: #767175;
}

.howcard-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.card-component {
  display: flex;
  flex-direction: row;
}

.arch-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arch-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-right: 40px;
  padding-left: 80px;
}

.economics-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
}

.scheme-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  padding-right: 20px;
}

.economics-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.economics-component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.logos-top-wrapper {
  height: 40px;
}

.p-highlight {
  color: $font-normal-color-highlight;
  font-family: $font-p;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}

.title-font {
  font-family: $font-t;
  color: $font-color-title;
  font-size: 54px;
  font-weight: 400;
}

.font-link {
  font-family: $font-p;
  font-size: 12px;
  color: #306bac;
  font-weight: 600;
}

a:hover 
{
     color: #306bac; 
     text-decoration: none; 
     cursor:pointer;  
}

span:hover 
{
  color: #306bac; 
  text-decoration: none; 
  cursor:pointer;  
}

.section-title {
  font-family: $font-t;
  color: $font-color-title;
  font-size: 42px;
  font-weight: 400;
  padding-bottom: 20px;
}

.p-normal {
  color: $font-normal-color;
  font-family: $font-p;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.p-normal-small {
  color: $font-normal-color;
  font-family: $font-p;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.bullet-title {
  font-family: $font-p;
  color: $font-color-title;
  font-size: 18px;
  font-weight: 600;
}

.font-detail {
  font-family: $font-p;
  color: $font-color-title;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.number-highlight {
  font-family: $font-p;
  color: $font-color-title;
  font-size: 42px;
  font-weight: 400;
}

.center-title {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
}

.divide {
  display: flex;
  flex-direction: row;
}

.scheme-wrapper {
  display: block;
  padding-right: 20px;
  padding-bottom: 40px;
  width: 430px;
  margin: 0;
}

.googlesap {
  padding-bottom: 100px;
}

.footer {
  padding: 40px;
  background-color: #F2F2F2;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
}

.reference-font {
  font-family: $font-p;
  font-size: 12px;
  color: #4f6df7;
}

.left-right-pd {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 40px;
}

.text-align-center {
  text-align: center;
}

.scheme-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
}